{% extends "base.html" %}
{{ post.title }}
{% block body_block %}

    <div id="body" class="col-xl-9 p-5">
{#    header#}
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                <span class="post-date"><a href="#"><time class="entry-date"
                                                          datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                <span class="post-author"><a href="#">{{ post.author }}</a></span>
                <span class="comments-link"><a href="#">4 评论</a></span>
                <span class="views-count"><a href="#">588 阅读</a></span>
            </div>
        </header>
{#    article#}
        <div class="entry-content clearfix">
            {{ post.body|safe }}
        </div>
{#comment form#}
            <hr>
        <form action="{% url 'comment:post_comment' post.pk %}" method="post" class="comment-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="{{ form.name.id_for_label }}">Name</label>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                <div class="col-md-6">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="col-md-12 ">
                    <label for="{{ form.text.id_for_label }}">Comment</label>
                    {{ form.text }}
                    {{ form.text.errors }}
                    <button type="submit" class="col-md-12 btn-outline-secondary">Post</button>
                </div>
            </div>    <!-- row -->
        </form>
{#    comments #}
        <hr>
        <ul class="comment-list list-unstyled">
            {% for comment in comment_list %}
                <li class="comment-item">
                    <span class="nickname">{{ comment.name }}</span>
                    <time class="submit-date">{{ comment.created_time }}</time>
                    <div class="text">
                        {{ comment.text }}
                    </div>
                </li>
            {% empty %}
                Waiting for you to comment.
            {% endfor %}
        </ul>
    </div>

    <style>
        #body {
            background-color: #FFFFFF;
        }

        pre {
            display: block;
            padding: 9.5px;
            margin: 0 0 10px;
            font-size: 13px;
            line-height: 1.42857143;
            color: #333;
            word-break: break-all;
            word-wrap: break-word;
            background-color: #f5f5f5;
        }
    </style>

{% endblock %}